.btn {
  border-color: black;
  border-width: medium;
  text-align: center;
}
#result {
  text-align: center;

}
.container {
  margin-top: 1%;
}
#formOne {
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 300%;
}
#head {
  background-color: rgb(255,153,244,.7);
}
#enter {
  background-color: rgb(255,153,244,.3);
}
label {
  font-size: 300%;
}
#below {
  background-color: rgb(255,153,244,.7);
}
#number {
  text-align: center;
}
